<table class="table table-hover">
   <thead>
     <tr>
       <th>Content</th>
       <th>Car Detail</th>
     </tr>
   </thead>
   <tbody>
     
      <tr>
        <td>Last Servicing Date</td>
        <td><%=@car.car_details.last.servicing_date%></td>
      </tr>
      <tr>
        <td>Repair part</td>
        <td><%=@car.car_details.last.repair_part%></td>
      </tr>
    </tbody>
</table>
